@import '~antd/dist/antd.css';

.list {
  height: 125px;
  width: 140px;
}

.table {
  width: 100%;
  background: #ffffff;
  border-collapse: collapse;
  table-layout: fixed;
}

.table,
td,
th {
  border: 1px solid black;
  height: 50px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clear {
  clear: both;
}
