.maincourse {
  min-height: 529px;
  width: 73%;
  background: #fff;
  padding: 12px 0;
  /* margin-right: 280px; */
  padding-right: 14px;
  float: left;
  border: 1px solid #e0dbc3;
}
.chaper {
  color: #343f4d;
  font-size: 14px;
  /*background: url(./source/icon1.png) repeat-y;*/
  background-position: 47px 0;
  position: relative;
  margin-left: -6px;
  margin-top: -12px;
}
.elenment {
  padding-left: 2px;
}
.iconfont {
  height: 15px;
  width: 15px;
}

.num {
  background: url(../../source/icon_section.png) no-repeat;
  margin: 10px 3px;
  width: 27px;
  height: 27px;
  display: inline-block;
  text-align: center;
  line-height: 27px;
  margin: 10px 0;
  text-align: center;
  color: #767f8a;
  font-weight: bold;
  font-size: 14px;
}
.add-course {
  background: url(../../source/addch.png) no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
  text-align: center;
  line-height: 27px;
  margin: 10px 0;
  text-align: center;
  color: #767f8a;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  margin-left: 35px;
}
.add-course input {
  border: 1px solid #de782f;
  height: 25px;
  width: 80px;
  background: #ffffff;
  line-height: 24px;
  position: absolute;
  top: 3px;
  background: #ffffff;
  color: #de782f;
}

.chaper-title {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  margin-top: 11px;
}
.title {
  margin: 0 1em;
  display: inline;
  float: none;
}

.add_it {
  height: 42px;
  font-size: 14px;
  background: url(../../source/ds2-bg.png) no-repeat;
  background-position: 47px -33px;
  cursor: pointer;
  padding: 0 34px;
  position: relative;
  font-family: 'Microsoft YaHei';
}
.add_btn {
  background: url(../../source/addit1_red.png) no-repeat;
  margin: 10px 3px;
  width: 21px;
  height: 21px;
  display: inline-block;
}
.add_it input {
  border: 1px solid #c91c1d;
  color: #c91c1d;
  height: 25px;
  width: 80px;
  background: #ffffff;
  line-height: 24px;
  position: absolute;
  top: 7px;
}
.section {
  color: #343f4d;
  font-size: 14px;
  background: url(../../source/icon1.png) repeat-y;
  background-position: 30px 0;
  padding: 0 28px 0 17px;
  position: relative;
}
.s_icon {
  background: url(../../source/icon_t.png) no-repeat;
  margin: 10px 3px;
  width: 21px;
  height: 21px;
  display: inline-block;
}
.cell_talk {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  cursor: pointer;
  width: 80%;
  line-height: 38px;
}
.s_title {
  margin: 0 1em;
  display: inline;
  float: none;
}
.s_text {
  display: inline;
  float: none;
}
.c_right {
  width: 20px;
  height: 30px;
  padding-top: 9px;
  float: right;
  cursor: pointer;
  margin-right: 25px;
}
.c_right img {
  width: 25px;
  height: 25px;
}
.s_right {
  width: 20px;
  height: 30px;
  padding-top: 6px;
  float: right;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 1px;
}
.s_right button {
  width: 80px;
  height: 25px;
  background: #e0842d;
  color: #ffffff;
  margin-left: -60px;
  display: none;
}
.s_right img {
  width: 25px;
  height: 25px;
}

.add_it {
  height: 42px;
  font-size: 14px;
  background: url(../../source/ds2-bg.png) no-repeat;
  background-position: 47px -33px;
  cursor: pointer;
  padding: 0 34px;
  position: relative;
  left: -17px;
  font-family: 'Microsoft YaHei';
}
