.modalbox {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  margin-left: -100px;
  height: 400px;
  margin-top: -25px;
  background: yellow;
}
.modalcontent {
  color: #000000;
}
.modalcontent table {
  margin: 0;
  padding: 0;
  width: 100%;
}
.modalcontent table td {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
}
.table-p {
  line-height: 10px;
}

.input {
  width: 420px;
  height: 30px;
  border-radius: 4px;
  /* padding-right: 10px; */
}
.input2 {
  width: 90px;
  height: 25px;
  border-radius: 4px;
  /* padding-right: 10px; */
}
.input3 {
  width: 180px;
  sheight: 30px;
  border-radius: 4px;
  /* padding-right: 10px; */
}
.line {
  width: 100%;
  border-bottom: 2px solid #eeeeee;
}
.text-area {
  width: 600px;
  height: 70px;
  border-radius: 5px;
  margin-left: 15px;
}
.textposition {
  line-height: 50px;
}
.sp {
  position: relative;
  color: #343f4d;
}
