.up {
  background: #010d1b;
  margin: 0;
  padding: 0;
}

.upBG {
  height: 321px;
  min-width: 1024px;
  max-width: 1248px;
  margin: 0 auto;
  background: url('http://211.66.87.236/lms/ajax/images/kkg-bg.jpg') no-repeat
    center center;
  background-size: cover;
}

.upBG h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font: normal 46px/1 'Microsoft Yahei', Arial;
  padding-top: 120px;
  text-align: center;
}
